<!-- Contact 5 - Bootstrap Brain Component -->
<!--https://bootstrapbrain.com/demo/components/contacts/contact-5/#!-->
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contato</title>

    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://unpkg.com/bs-brain@2.0.4/components/contacts/contact-5/assets/css/contact-5.css">

    <!--LINKS PRO FOOTER-->
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">

    <style>
        .fundo-contato {
            background-image: url('../static/img/fundo-contato1.jpg');
            background-size: cover;
            /* faz a imagem cobrir todo o espaço */
            background-position: center;
            /* centraliza a imagem corretamente */
            background-repeat: no-repeat;
            /* impede repetição */
            background-attachment: fixed;
            /* deixa a imagem fixa (efeito elegante) */
        }

        /* Caixa interativa */
        .info-hover {
            padding: 20px;
            border-radius: 15px;
            transition: all .35s ease;
            background: white;
            cursor: pointer;

        }

        /* Efeito ao passar o mouse */
        .info-hover:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
            border-color: transparent;
        }

        /* Ícones maiores */
        .info-hover svg {
            transition: 0.3s ease;
        }

        .info-hover:hover svg {
            transform: scale(1.2);
            color: #4A2C2A;
        }

        .form-label {
            color: white;
        }

        .botão-enviar {
            background-color: #8B0000;
            border-color: #4A2C2A;
        }

        .color-border {
            outline: #8B0000;
        }
    </style>

</head>

<body class="fundo-contato">
    <!--INICIO DO NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm fixed-top">
        <div class="container">
            <a class="navbar-brand" href="home.html">
                <img src="../static/img/logo2.png" alt="peixe" class="logo-img me-1">
            </a>

            <button class="navbar-toggler color-border" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav1">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu.html">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="chefs.html">Chefs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reserva.html">Reserva</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contato.html">Contato</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!--FIM DO NAVBAR-->





    <section class="py-3 py-md-5 py-xl-8">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 col-lg-8">
                    <h3 class="fs-5 mb-2 text-secondary text-uppercase">Contato</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row gy-4 gy-md-5 gy-lg-0 align-items-md-center">
                <div class="col-12 col-lg-6">
                    <div class="border overflow-hidden">

                        <form action="#!">
                            <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
                                <div class="col-12">
                                    <label for="fullname" class="form-label">Nome completo <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="fullname" name="fullname" value=""
                                        required>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="email" class="form-label">Email <span
                                            class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                                <path
                                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                            </svg>
                                        </span>
                                        <input type="email" class="form-control" id="email" name="email" value=""
                                            required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="phone" class="form-label">Telefone</label>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                                <path
                                                    d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                            </svg>
                                        </span>
                                        <input type="tel" class="form-control" id="phone" name="phone" value="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="subject" class="form-label">Assunto <span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="subject" name="subject" value=""
                                        required>
                                </div>
                                <div class="col-12">
                                    <label for="message" class="form-label">Mensagem <span
                                            class="text-danger">*</span></label>
                                    <textarea class="form-control" id="message" name="message" rows="3"
                                        required></textarea>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-lg botão-enviar" type="submit">Enviar
                                            mensagem</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row justify-content-xl-center">
                        <div class="col-12 col-xl-11">
                            <div class="mb-4 mb-md-5">
                                <div class="mb-3 text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-geo" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="" />
                                    </svg>
                                </div>
                                <div class="mb-4 mb-md-5 info-hover">

                                    <h4 class="mb-2">Localização</h4>
                                    <p class="mb-2">Por favor, visite-nos para conversarmos</p>
                                    <hr class="w-50 mb-3 border-dark-subtle">
                                    <address class="m-0 text-secondary">Rua João Grilo e Chicó, 370 - Colinas do Sul,
                                        João Pessoa - PB, 58069-529</address>
                                </div>
                            </div>
                            <div class="row mb-sm-4 mb-md-5">
                                <div class="col-12 col-sm-6">
                                    <div class="mb-4 mb-sm-0">
                                        <div class="mb-3 text-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" class="bi bi-telephone-outbound"
                                                viewBox="0 0 16 16">
                                                <path d="" />
                                            </svg>
                                        </div>
                                        <div class="mb-4 mb-sm-0 info-hover">

                                            <h4 class="mb-2">Número</h4>
                                            <p class="mb-2">Por favor, fale diretamente conosco.</p>
                                            <hr class="w-75 mb-3 border-dark-subtle">
                                            <p class="mb-0">
                                                <a class="link-secondary text-decoration-none"
                                                    href="tel:+15057922430">(83) 98621-1544</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="mb-4 mb-sm-0">
                                        <div class="mb-3 text-primary">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                                                <path
                                                    d="" />
                                                <path
                                                    d="" />
                                            </svg>
                                        </div>
                                        <div class="mb-4 mb-sm-0 info-hover">

                                            <h4 class="mb-2">Email</h4>
                                            <p class="mb-2">Entre em contato caso tenha alguma dúvida.</p>
                                            <hr class="w-75 mb-3 border-dark-subtle">
                                            <p class="mb-0">
                                                <a class="link-secondary text-decoration-none"
                                                    href="mailto:demo@yourdomain.com">restaurantemare@gmail.com.br</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="mb-3 text-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-alarm" viewBox="0 0 16 16">
                                        <path
                                            d="" />
                                        <path
                                            d="" />
                                    </svg>
                                </div>
                                <div class="info-hover">
                                    <h4 class="mb-2">Horário de funcionamento</h4>
                                    <p class="mb-2">Confira nosso horário de funcionamento.</p>
                                    <hr class="w-50 mb-3 border-dark-subtle">
                                    <div class="d-flex mb-1">
                                        <p class="text-secondary fw-bold mb-0 me-5">Terça - Sexta</p>
                                        <p class="text-secondary mb-0">8:00 - 20:00</p>
                                    </div>
                                    <div class="d-flex">
                                        <p class="text-secondary fw-bold mb-0 me-5">Sabádo - Domingo</p>
                                        <p class="text-secondary mb-0">9:00 - 15:00</p>
                                        <div> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--INICIO DO FOOTER-->
    <footer class="mt-auto pt-4 pb-4">
        <div class="container">
            <div class="row">
                <!-- Información de la empresa -->
                <div class="col-md-3 mb-3">
                    <h5 class="title-fot">Sobre nós</h5>
                    <p class="text-lg">Somos um restaurante especializado em carnes na brasa, preparado com ingredientes
                        incriveis. Trabalhamos para oferecer sabor, qualidade e uma experiência única à mesa.</p>
                </div>


                <div class="col-md-3 mb-3">
                    <h5 class="title-fot">Links Rápidos</h5>
                    <ul class="list-unstyled text-lg">
                        <li class="nav-item">
                            <a class="nav-link" href="home.html">
                                <i class="bi bi-house text-lg"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sobre.html">
                                <i class="bi bi-info-circle text-lg"></i> Sobre
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contato.html">
                                <i class="bi bi-envelope text-lg"></i> Contato
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="reserva.html">
                                <i class="bi bi-shield-lock text-lg"></i> Reserva
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="col-md-3 mb-3">
                    <h5 class="title-fot">Contato</h5>
                    <ul class="list-unstyled text-lg">
                        <li><i class="bi bi-geo-alt-fill"></i> Rua João Grilo e Chicó, 370 - Colinas do Sul, João Pessoa
                            - PB</li>
                        <li><i class="bi bi-telephone-fill"></i>(83) 98621-1544</li>
                        <li><i class="bi bi-envelope-fill"></i> restaurantebrasanobre@gmail.com.br</li>
                    </ul>
                </div>


                <div class="col-md-3 mb-3">
                    <h5 class="title-fot">Siga também</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="" class="text-lg"><i class="bi bi-instagram fs-4"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="" class="text-lg"><i class="bi bi-linkedin fs-4"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <hr class="barra">



            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0">&copy; 2025 Brasa Nobre. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
    <!--FINAL DO FOOTER-->





    <!--CÓDIGO PRO NAVBAR-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>

</html>